<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <img [src]="USER.userPicture" alt="user" />
                        <span class="hide-menu">{{USER.userName}} </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li routerLinkActive="active">
                            <a href="javascript:void()">My Profile </a>
                        </li>
                        <li routerLinkActive="active">
                            <a href="javascript:void()">My Balance</a>
                        </li>
                        <li routerLinkActive="active">
                            <a href="javascript:void()">Inbox</a>
                        </li>
                        <li routerLinkActive="active">

                            <li>
                                <a [routerLink]="['/data-empresa']">Datos Empresa</a>

                            </li>

                            <li>
                                <a [routerLink]="['/account-setting']"> Account Setting</a>

                            </li>
                            <li routerLinkActive="active">
                                <a [routerLink]="['/login']" (click)="logOut()">Logout</a>
                            </li>
                    </ul>
                    </li>
                    <li class="nav-devider"></li>
                    <li class="nav-small-cap">PERSONAL</li>
                    <li *ngFor="let menu of _sidebar.menu ">
                        <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                            <i [class]="menu.icono"></i>
                            <span class="hide-menu">{{menu.titulo}}
                <span class="label label-rouded label-themecolor pull-right">{{menu.submenu.length}}</span>
                            </span>
                        </a>
                        <ul aria-expanded="false" class="collapse">
                            <li *ngFor="let submenu of menu.submenu">
                                <a routerLinkActive="active" [routerLink]="[submenu.url]">{{submenu.titulo}} </a>
                            </li>

                        </ul>

            </ul>
        </nav>

    </div>

</aside>